<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WICO - Access Point | Edit</title>
        {% include "includes/imports.html" %}
    </head>
    <body>
        <div id="wrapper">

        {% include "includes/navbar.html" %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Access Point</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Add New Access Point
                                </div>
                                <div class="panel-body">
                                    {% if success %}
                                    <div class="alert alert-success alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        Successfully edit access point.
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <form role="form" action="/ap/edit/{{ ap.id }}" method="post">
                                                <div class="form-group">
                                                    <label>AP Name</label>
                                                    <input class="form-control" name="ap_name" value="{{ ap.name }}">
                                                </div>
                                                <div class="form-group">
                                                    <label>IP Address</label>
                                                    <input class="form-control" name="ip_address" placeholder="x.x.x.x" value="{{ ap.ip }}">
                                                </div>
                                                <div class="form-group">
                                                    <label>AP Operating System</label>
                                                    <select name="os" class="form-control">
                                                        <option value="1" {% if ap.os == 1 %}selected="selected"{% endif %}>TD-W8901N</option>
                                                        <option value="2" {% if ap.os == 2 %}selected="selected"{% endif %}>OpenWRT</option>
                                                        <option value="3" {% if ap.os == 3 %}selected="selected"{% endif %}>DSL-2750E</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>AP Admin Username</label>
                                                    <input class="form-control" name="username" value="{{ ap.username }}">
                                                </div>
                                                <div class="form-group">
                                                    <label>AP Admin Password</label>
                                                    <input class="form-control" name="password" type="password" value="{{ ap.passwd }}">
                                                </div>

                                                <input type="hidden" name="id" value="{{ ap.id }}">
                                                <button type="submit" class="btn btn-default">Edit</button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </form>
                                        </div>
                                        <!-- /.col-lg-6 (nested) -->
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        </div>
    </body>
</html>