<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WICO - Access Point | View Logs</title>
        {% include "includes/imports.html" %}
    </head>
    <body>
        <div id="wrapper">

        {% include "includes/navbar.html" %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Access Point</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Access Point Logs
                                </div>
                                <div class="panel-body">
                                    {% if success %}
                                    <div class="alert alert-success alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        Successfully edit access point.
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form role="form">
                                                <textarea rows="20" class="form-control">{% for l in log -%}{{ l }}{%- endfor %}</textarea>
                                            </form>
                                        </div>
                                        <!-- /.col-lg-6 (nested) -->
                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        </div>
    </body>
</html>