<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WICO - Access Point | List</title>
        {% include "includes/imports.html" %}

        <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
        </script>
    </head>
    <body>
        <div id="wrapper">

        {% include "includes/navbar.html" %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Access Point</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                List of registered AP
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>IP Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in ap %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.ip }}</td>
                                                <td>
                                                    <a href="/ap/log/{{ i.id }}" class="btn btn-info">View Log</a>
                                                    <a href="/ap/edit/{{ i.id }}" class="btn btn-default">Edit</a>
                                                    <a href="/ap/reboot/{{ i.id }}" class="btn btn-warning">Reboot</a>
                                                    <a href="/ap/delete/{{ i.id }}" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <a href="/ap/add" class="btn btn-primary">Add New AP</a>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                        <!-- /.panel -->
                </div>
            </div>
                <!-- /.row -->
        </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </body>
</html>