<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WICO - Home</title>
        {% include "includes/imports.html" %}
    </head>
    <body>
        <div id="wrapper">

        {% include "includes/navbar.html" %}

        <!-- Page Content -->
        <div id="page-wrapper" class="home-dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Connection Status
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>IP Address</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in ap %}
                                            <tr class="{% if i.status %}success{% else %}danger{% endif %}"> <!-- success | danger -->
                                                <td>{{ loop.index }}</td>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.ip }}</td>
                                                <td>{% if i.status %}Online{% else %}Offline{% endif %}</td>
                                            </tr>
                                            {% endfor  %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        </div>
    </body>
</html>