<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WICO Login</title>
        {% include "includes/imports.html" %}
    </head>
    <body style="background-color: #337ab7">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="text-center">
                            <img src="/static/img/logo.png" alt="WICO">
                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <p style="margin: 0; font-size: 12px">Copyright &copy; 2015 WiCo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>