<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WICO - Reporting</title>
        {% include "includes/imports.html" %}

        <script>
        $(document).ready(function() {
            $('#downtime_history').DataTable({
                responsive: true
            });
        });
        </script>
    </head>
    <body>
        <div id="wrapper">

        {% include "includes/navbar.html" %}

        <!-- Page Content -->
        <div id="page-wrapper" class="home-dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Reporting</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Downtime
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="downtime-area-chart"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Total Reboot
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="reboot-donut-chart"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <!-- /.col-lg-12 -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Downtime History
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="downtime_history">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>AP Name</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in history %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.dt_down }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Reboot Logs
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="downtime_history">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in reboot_logs %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ i.msg }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                            <!-- /.panel-body -->
                    </div>
                        <!-- /.panel -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        </div>

    <script type="text/javascript">
        Morris.Area({
            element: 'downtime-area-chart',
            data: [{{ downtime|safe }}],
            xkey: 'period',
            ykeys: [{{ ap_name|safe }}],
            labels: [{{ ap_name|safe }}],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
        });

        Morris.Donut({
            element: 'reboot-donut-chart',
            data: [{{ reboot_data|safe }}],
            resize: true
        });
    </script>
    </body>
</html>